.site_layout_content_show {
  min-height: 350px;

  .title {
    font-family: "黑体", serif;
    font-size: 20px;
    margin: 2vh 0.5vw;
  }

  .delete_connection_btn {
    padding: 0 10px;
    margin-left: 10px;
  }

  .property_box {
    display: flex;

    .property_type {
      font-size: 16px;
      margin-left: 5px;
      transform: translate(0, 5px);
    }

    .btn_box {
      margin-left: auto;
      padding-bottom: 5px;

      .import_data_btn {
        margin-left: 5px;
      }
    }
  }

  .collapse_panel_span {
    margin-right: 10px;
  }

  .show_data_box {
    display: flex;
    margin-top: 10px;

    .show_data_title {
      font-size: 16px;
      margin-left: 5px;
      transform: translate(0, 5px);
    }

    .plus_btn {
      border-radius: 20px;
      transform: translate(5px, 5px);
    }

    .search_bigbox {
      display: flex;
      margin-left: auto;

      .dropdown {
        padding: 0 7px;
      }

      .search_box {
        margin: 0 10px;
        width: 150px;
      }

      .search_btn {
        width: 30px;
        height: 30px;
        padding: 0;
      }
    }
  }

  .table {
    margin-top: 10px;
  }
}

