.group_div {
  width: 50%;
  border: 1px solid #d7dbdf;
  /* margin-top: 20px; */
  border-radius: 8px;
  margin-left: 20px;
}

.group_title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #d7dbdf;
}
