.allTask_container {
  margin-top: 20px;
  background-color: white;
  padding: 20px 10px;
  border-radius: 8px;
  border: 1px solid #c1c0c0;
}

.allTask_container :global(.ant-empty-image) {
  height: 20px;
}

.title {
  font-size: 16px;
}

.modal_container {
  margin: 10px 0;
}
